@font-face {
    font-family: "YOONCHILDFUNDKOREADAEHAN";
    src: url("../../fonts/YOONCHILDFUNDKOREADAEHAN.TTF") format("woff2");
}
@font-face {
    font-family: "YOONCHILDFUNDKOREAMANSEH";
    src: url("../../fonts/YOONCHILDFUNDKOREAMANSEH.TTF") format("woff2");
}

body {
    width: 392px;
    margin: 0 auto;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    background-image: url("../../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 392px;
    height: 53px;
    margin-top: 10px;
    background-color: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 15px;
}

.logo {
    width: 66px;
    height: 24px;
}

.icon2 {
    width: 21.996px;
    height: 21.996px;
}

footer {
    margin: 25px 0;
    background-color: none;
}

footer p {
    margin: 0;
    font-size: 10px;
    text-align: center;
}

.mypage-title {
    width: 393px;
    border-bottom: 0.1px solid #000;
    display: flex;
    justify-content: space-between;
}

.mypage-title div {
    margin-left: 16px;
    margin-top: 17px;
    margin-bottom: 16px;
    color: #314290;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.mypage-list a div{
    width: 372px;
    height: 39.845px;
    border-bottom: 0.1px solid #000;
    display: flex;
    align-items: center;
    padding-left: 21px;
}