@font-face {
    font-family: "YOONCHILDFUNDKOREADAEHAN";
    src: url("../../fonts/YOONCHILDFUNDKOREADAEHAN.TTF") format("woff2");
}
@font-face {
    font-family: "YOONCHILDFUNDKOREAMANSEH";
    src: url("../../fonts/YOONCHILDFUNDKOREAMANSEH.TTF") format("woff2");
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

body {
    width: 392px;
    height: 100vh;
    margin: 0 auto;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    background-image: url("../../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 392px;
    height: 53px;
    margin-top: 10px;
    background-color: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.post-title {
    width: 393px;
    border-bottom: 0.1px solid #000;
}

.post-title div {
    margin-left: 16px;
    margin-top: 17px;
    margin-bottom: 16px;
    color: #314290;
    font-size: 20px;
}

.post-card {
    border-bottom: 0.1px solid #000;
    display: flex;
}

.card-icon {
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.card-right {
    margin-top: 9px;
    margin-bottom: 9px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

footer {
    margin: 25px 0;
    background-color: none;
}

footer p {
    margin: 0;
    font-size: 10px;
    text-align: center;
}