@font-face {
    font-family: "YOONCHILDFUNDKOREADAEHAN";
    src: url("../../fonts/YOONCHILDFUNDKOREADAEHAN.TTF") format("woff2");
}
@font-face {
    font-family: "YOONCHILDFUNDKOREAMANSEH";
    src: url("../../fonts/YOONCHILDFUNDKOREAMANSEH.TTF") format("woff2");
}

body {
    width: 392px;
    margin: 0 auto;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    background-image: url("../../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 392px;
    height: 53px;
    margin-top: 10px;
    background-color: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon {
    width: 10.506px;
    height: 18.648px;
}

.logo {
    width: 66px;
    height: 24px;
}

.icon2 {
    width: 21.996px;
    height: 21.996px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}


.author {
    margin-left: 17px;
    font-size: 14px;
    margin-bottom: 6px;
}

.diary {
    width: 358px;
    margin: 0 auto;
    border: 1px solid #000;
}

.diary-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 13px 5px 13px;
    border-bottom: 1px solid #000;
}

.diary-date select {
    border-style: none;
    background: none;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    font-size: 16px;
}

.diary-img {
    padding: 5px 13px 5px 13px;
    border-bottom: 1px solid #000;
    height: 180px;
}

.diary-img input {
    margin-top: 75px;
}

.diary-title {
    padding: 5px 13px 5px 13px;
}

#id_title {
    border-style: none;
    background: none;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    font-size: 16px;
}

.diary-content-container {
    width: 360px;
    height: 211px;
    margin: 0 auto;
    background-image: url("../../images/grid.png");
    background-position: center;
    background-repeat: no-repeat;
}

#id_content {
    width: 376px;
    height: 195px;
    border-style: none;
    background: none;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    font-size: 16px;
    letter-spacing: 1.55em;
    line-height: 2em;
    padding: 8px;
    padding-right: 0;
}

.diary-content {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-box {
    display: flex;
    justify-content: right;
}

.create-btn {
    cursor : pointer;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    width: 67px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: none;
    background: rgba(171, 58, 44, 0.96);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    font-size: 13px;
    font-weight: 400;
}

#id_weather {
    border-style: none;
    background: none;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    font-size: 16px;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}