@font-face {
    font-family: "YOONCHILDFUNDKOREADAEHAN";
    src: url("../../fonts/YOONCHILDFUNDKOREADAEHAN.TTF") format("woff2");
}
@font-face {
    font-family: "YOONCHILDFUNDKOREAMANSEH";
    src: url("../../fonts/YOONCHILDFUNDKOREAMANSEH.TTF") format("woff2");
}

html {
    min-height: 700px;
}

body {
    width: 392px;
    height: 700px;
    margin: 0 auto;
    font-family: YOONCHILDFUNDKOREAMANSEH;
    background-image: url("../../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 392px;
    height: 53px;
    margin-top: 10px;
    background-color: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 15px;
}

.logo {
    width: 66px;
    height: 24px;
}

.icon2 {
    width: 21.996px;
    height: 21.996px;
}

.chat-title {
    width: 393px;
}

.chat-title div {
    margin-left: 16px;
    margin-top: 17px;
    margin-bottom: 16px;
    color: #314290;
    font-size: 20px;
}

#chatroom_box {
    width: 347px;
    height: 485px;
    margin: 0 auto;
}


.chat-log-container {
    /*메시지 오가는 영역. */
    border: 1px solid #314290;;
    border-radius: 13px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
    /*height: 400px;*/
    /*overflow: auto;*/
    /*overflow-y: hidden;*/
    /*overflow-y: scroll;*/
    -ms-overflow-style: none;
}

.chat-log-container::-webkit-scrollbar {
    display: none;
}

#send_message {
    display: flex;
    justify-content: flex-end;
}

.message_receiver {
    display: flex;
    justify-content: flex-start;
}

.message_sender {
    display: flex;
    justify-content: flex-end;
}

.message_receiver p {
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 4px 10px 4px 10px;
    border-radius: 12px;
}

.message_sender p {
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 4px 10px 4px 10px;
    border-radius: 12px;
}

#send_message p {
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 4px 10px 4px 10px;
    border-radius: 12px;
}

#send_msg_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input#chat-message-input {
    font-family: YOONCHILDFUNDKOREAMANSEH;
    width: 300px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #314290;
    background: rgba(255, 255, 255, 0.61);
    font-size: 17px;
    padding-left: 10px;
    margin-top: 20px;
}

input#chat-message-input:focus {
    outline:none;
}

#chat-message-submit {
    margin-top: 20px;
    padding-top: 5px;
}