<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_detail</title>
</head>
<body>
 <header class="mb-4">
        <!-- post title -->
        <h1 class="fw-bolder mb-1"> {{ post.title }}</h1>
        <h2 class="fw-bolder mb-1"> {{ post.content }}</h2>
        <h3 class="fw-bolder mb-1"> {{ post.weather }}</h3>
        <h1 class="fw-bolder mb-1"> {{ post.image }}</h1>
        <h4 class="fw-bolder mb-1"> {{ post.date }}</h4>
        <h5 class="text-muted">{{ post.hook_text }}</h5>
        <!-- Post meta content -->
        <div class="text-muted fst-italic mb-2">Posted on {{ post.create_at }} by <a href="#"> {{ post.author | upper }}</a></div>

{% if user.is_authenticated and user == post.author %}
   <a class="btn btn-info btn-sm float-end" href="/post/delete_post/{{ post.pk }}" role="button">DELETE Post</a>
{% endif %}
{% if user.is_authenticated and user == post.author %}
  <a class="btn btn-info btn-am float-end" href="/post/update_post/{{ post.pk }}" role="button">Edit Post</a>
{% endif %}
</body>