{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post/post_list.css' %}">
    <title>날씨일기-post</title>
</head>
<body>
    <div class="container">
        <!-- Nav Bar -->
        <div class="navbar">
            <a href="{% url 'tab' %}" onclick="toggleNavbar()"><img src="{% static 'images/menu.png' %}" class="icon" alt="메뉴버튼"></a>
            <a href="{% url 'fetch_and_save_weather' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt="로고"></a>
            {% if user.is_authenticated %}
            <a href="{% url 'mypage' %}"><img src="{% static 'images/profile.png' %}" class="icon2" alt="마이페이지"></a>
            {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'images/login.png' %}" class="icon2" alt="로그인"></a>
            {% endif %}
        </div>

        <div class="post-title">
            <div class="weather-diary">날씨 일기</div>
            <a href="{% url 'create' %}"><div class="post-btn">작성하기</div></a>
        </div>
        <div class="post-list">
            {% for p in post_list %}
            <a href="{{p.pk}}/">
                <div class="post-card">
                    <div class="card-icon"><img src="{{ p.weather.image.url }}" alt="날씨이미지"></div>
                    <div class="card-right">
                        <div class="card-title">{{ p.title }} ></div>
                        <div class="card-text">{{ p.content | truncatewords:3 }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>

        <!-- Footer -->
        <footer><p>© 인프 7조. All rights reserved.</p></footer>

        <script>
        function toggleNavbar() {
            var x = document.querySelector('.navbar a:not(.icon)')
            x.style.display = x.style.display === 'block' ? 'none' : 'block'
        }
        
        </script>
    </div>
</body>
</html>