<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_form</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
                <tr>
                    <td>{{ form.as_p }}</td>
                    <td>
                        {% for char in field.value %}
                            <input type="text" name="{{ field.name }}[]" value="{{ char }}" maxlength="1" style="width: 20px; text-align: center;">
                        {% endfor %}
                    </td>
                </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>