body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
  /* Add any other styling you need */
}

.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.icon {
  float: left;
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(.icon) {
    display: none;
  }
}

/* Styling for the big box */
.fcst_box {
  text-align: center;
  margin-top: 50px; /* Adjust the margin as needed */
  border: 2px solid #333; /* Border for visualization */
  padding: 20px; /* Add padding for better visualization */
}

/* Styling for the container of small boxes */
.fcst_box_mini_container {
  display: flex;
  justify-content: space-around;
  border: 2px solid #333; /* Border for visualization */
  padding: 10px; /* Add padding for better visualization */
  height: auto;
}

/* Styling for each small box */
.fcst_box_mini {
  width: 15%; /* Equal size for all small boxes */
  text-align: center;
  border: 1px solid #333; /* Border for visualization */
  padding: 10px; /* Add padding for better visualization */
}

/* Main content container to push the footer to the bottom */
.main-container {
  flex: 1;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
/* Styling for Lottie Animation Container */
#sunny-animation {
  width: 300px;
  height: 300px; /* Adjust the height if needed to maintain the aspect ratio */
  margin: 0 auto; /* Center the animation horizontally */
}
#little-cloudy-animation {
  width: 200px;
  height: 200px; 
  margin: 0 auto; 
}
#cloudy-animation {
  width: 200px;
  height: 200px; 
  margin: 0 auto; 
}