{% load static custom_filters %}
{% load static custom_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>날씨일기-main</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/forecast/main.css' %}">
    <!-- Include Lottie library from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>

    <!-- Poll -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/forecast/pollCSS.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    var baseUrl = "{% url 'vote' %}";
  </script>
  <script src="{% static 'js/forecast/pollJS.js' %}"></script>
  </head>
  <body>
    <div class="container">
    
    <!-- Nav Bar -->
    <div class="navbar">
      <a href="{% url 'tab' %}" ><img src="{% static 'images/menu.png' %}" class="icon" alt="메뉴버튼"></a>
      <a href="{% url 'fetch_and_save_weather' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt="로고"></a>
      {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}"><img src="{% static 'images/profile.png' %}" class="icon2" alt="마이페이지"></a>
      {% else %}
        <a href="{% url 'login' %}"><img src="{% static 'images/login.png' %}" class="icon2" alt="로그인"></a>
      {% endif %}
    </div>

    <!-- Big box -->
    {% if earliest_date %}
    {% if flag %}
      <div class="fcst_box">
        <div class="duksung_location">덕성여자대학교</div>
        
        <!--메인 애니메이션-->
        <div class="fcst_main_icon" id="main_icon">
          {% for category in earliest_date.categories %}
          
          <!--강수량이 있다면 (비 or 눈)-->
            {% if category.category == 'PTY' %}
              {% if category.fcstValue == '1' or category.fcstValue == '2' or  category.fcstValue == '5' or category.fcstValue == '6' %}
                  {% generate_lottie_animation 'rainy' 'rainy-animation' %} 
                  {% change_flag_to_False flag as flag %}
              {% elif category.fcstValue == '3' or category.fcstValue == '7' %}
                  {% generate_lottie_animation 'snowy' 'snowy-animation' %} 
                  {% change_flag_to_False flag as flag %}
              {% endif %}
            {% endif %}

            <!--강수량이 없을 때 (맑음 or 약간 흐림 or 흐림)-->
            {% if flag == 'True' %}
              {% if category.category == 'SKY' %}
                {% if category.fcstValue == '1' %}
                  {% generate_lottie_animation 'sunny' 'sunny-animation' %}
                {% elif category.fcstValue == '3' %}
                  {% generate_lottie_animation 'little-cloudy' 'little-cloudy-animation' %}
                {% elif category.fcstValue == '4' %}
                  {% generate_lottie_animation 'cloudy' 'cloudy-animation' %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div> 

        <!--기온-->
        {% for category in earliest_date.categories %}
          {% if category.category == 'T1H' %}
            <div class="frst_tmp">{{ category.fcstValue }} °C</div>
          {% endif %}
        {% endfor %}
        {% for category in earliest_date.categories %}
          {% if category.category == 'SKY' %}
            <div class="sky">
              {% if category.fcstValue == '1' %}
                맑음
              {% elif category.fcstValue == '3' %}
                약간 흐림
              {% else %}
                흐림
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% endif %}

    <!-- mini boxes의 애니메이션 불러오기 -->
    <script>
      function loadLottieAnimation(jsonPath, containerId) {
          $.getJSON(jsonPath, function (animationData) {
              var animContainer = document.getElementById(containerId);
              animContainer.style.width = '50px';
              animContainer.style.height = '50px';
  
              var anim = bodymovin.loadAnimation({
                  container: animContainer,
                  renderer: 'svg',
                  loop: true,
                  autoplay: true,
                  animationData: animationData
              });
          });
      }
  </script>
  
  <!-- 6시간의 날씨 정보 -->
  {% if flag2 %}
  <div class="fcst_box_mini_container">
      {% for datetime, categories in organized_items.items|slice:':6' %}
          <div class="fcst_box_mini">
              <div class="fcst_time">{{ datetime|slice:"-4:-2" }}시</div>  
              {% for category in categories %}
                <!--강수량이 있다면 (비 or 눈)-->
                {% if category.category == 'PTY' %}
                {% change_flag_to_True flag2 as flag2 %}
                  {% if category.fcstValue == '1' or category.fcstValue == '2' or  category.fcstValue == '5' or category.fcstValue == '6' %}
                      <div id="mini_rainy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="width: 50px; height: 50px;"></div>
                      <script>
                          loadLottieAnimation("{% static 'animations/rainy.json' %}", 'mini_rainy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}');
                      </script> 
                      {% change_flag_to_False flag2 as flag2 %}
                  {% elif category.fcstValue == '3' or category.fcstValue == '7' %}
                      <div id="mini_snowy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="width: 50px; height: 50px;"></div>
                      <script>
                          loadLottieAnimation("{% static 'animations/snowy.json' %}", 'mini_snowy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}');
                      </script> 
                      {% change_flag_to_False flag2 as flag2 %}
                  {% endif %}
                {% endif %}

                {% if flag2 == 'True' %}
                  {% if category.category == 'SKY' %}
                      {% if category.fcstValue == '1' %}
                          <div id="mini_sunny_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="width: 50px; height: 50px;"></div>
                          <script>
                              loadLottieAnimation("{% static 'animations/sunny.json' %}", 'mini_sunny_{{ forloop.parentloop.counter }}_{{ forloop.counter }}');
                          </script>
                      {% elif category.fcstValue == '3' %}
                          <div id="mini_little_cloudy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="width: 50px; height: 50px;"></div>
                          <script>
                              loadLottieAnimation("{% static 'animations/little-cloudy.json' %}", 'mini_little_cloudy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}');
                          </script>
                      {% elif category.fcstValue == '4' %}
                          <div id="mini_cloudy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="width: 50px; height: 50px;"></div>
                          <script>
                              loadLottieAnimation("{% static 'animations/cloudy.json' %}", 'mini_cloudy_{{ forloop.parentloop.counter }}_{{ forloop.counter }}');
                          </script>
                      {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% for category in categories %}
                  {% if category.category == 'T1H' %}
                      <div class="fcst_tmp">{{ category.fcstValue }} °C</div>
                  {% endif %}
              {% endfor %}
          </div>
      {% endfor %}
  </div>
  {% endif %}


    <!-- VOTE -->
    <div class="vote-container-title">TODAY VOTE</div>
    <div class="poll_container">
      <p class="poll-question">{{ poll.question }}</p>
  
      {% for choice in poll.choice_set.all %}
          <div class="choice" data-choice-id="{{ choice.id }}">
              <span>{{ choice.choice_text }}</span>
              <div class="vote-count" style="visibility: hidden;">{{ choice.votes }}</div>
              <div class="percentage-count" id="percentage">{{ choice.votes }}</div>
              {% if request.user in choice.voters.all  %}
                <div class="chart" id="choice-selected"></div>
              {% else %}
                <div class="chart"></div>
              {% endif %}
          </div>
      {% endfor %}
  
    </div>

    <!-- POST -->
    <div class="post-container-title"><a href="{% url 'post' %}">날씨 일기 ></a></div>
    <div class="post-container">
      {% for p in post %}
        <a href="post/{{ p.pk }}/">
          <div class="post-card">
              <div class="card-title">{{ p.title }} ></div>
          </div>
        </a>
      {% endfor %}
    </div>

    <!-- CHAT -->
    <div class="post-container-title"><a href="/chat/room/">LIVE TALK ></a></div>
    <div class="chat-container">
      {% for c in chat %}
        <div class="message">{{ c.message }}</div>
      {% endfor %}
    </div>

    <!-- Footer -->
    <footer><p>© 인프 7조. All rights reserved.</p></footer>

    
  </body>
</html>
