{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forecast/tab.css' %}">
    <title>tab</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab-fist-box"><div class="tab-title">바로가기</div><a href="javascript:history.back()">X</a></div>
        <div><a href="{% url 'fetch_and_save_weather' %}">메인페이지 ></a></div>
        <div><a href="{% url 'room' %}">LIVE TALK ></a></div>
        <div><a href="{% url 'post' %}">날씨일기 ></a></div>
        {% if user.is_authenticated %}
            <div><a href="#">마이페이지 ></a></div>
        {% else %}
            <div><a href="{% url 'login' %}">로그인 ></a></div>
        {% endif %}
    </div>
</body>
</html>