@font-face {
  font-family: "YOONCHILDFUNDKOREADAEHAN";
  src: url("../../fonts/YOONCHILDFUNDKOREADAEHAN.TTF") format("woff2");
}
@font-face {
  font-family: "YOONCHILDFUNDKOREAMANSEH";
  src: url("../../fonts/YOONCHILDFUNDKOREAMANSEH.TTF") format("woff2");
}

body {
  width: 392px;
  margin: 0 auto;
  font-family: YOONCHILDFUNDKOREAMANSEH;
  background-image: url("../../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  width: 392px;
  height: 53px;
  margin-top: 10px;
  background-color: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 15px;
}

.logo {
  width: 66px;
  height: 24px;
}

.icon2 {
  width: 21.996px;
  height: 21.996px;
}

/* Styling for the big box */
.fcst_box {
  text-align: center;
  margin-top: 0;
  padding: 10px;
}

.frst_tmp {
  font-size: 24px;
}

.sky {
  font-size: 20px;
}

.fcst_box_mini_container {
  width: 392px;
  height: 95px;
  display: flex;
  height: auto;
  overflow: scroll;
  overflow: hidden;
}

.fcst_box_mini {
  width: 66px;
  height: 95px;
  text-align: center;
  padding: 7px;
  margin: 7px;
}

footer {
  margin: 25px 0;
  background-color: none;
}

footer p {
  margin: 0;
  font-size: 10px;
  text-align: center;
}

#sunny-animation {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#little-cloudy-animation {
  width: 200px;
  height: 200px; 
  margin: 0 auto; 
}
#cloudy-animation {
  width: 200px;
  height: 200px; 
  margin: 0 auto; 
}
#rainy-animation {
  width: 200px;
  height: 200px; 
  margin: 0 auto; 
}

.post-container-title {
  margin-left: 23px;
  margin-top: 16px;
}

.post-container-title > a {
  color: #314290;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.154px;
  letter-spacing: -0.392px;
  text-decoration: none;
}

.post-container{
  width: 334px;
  border-radius: 13px;
  border: 1px solid var(--color3, #314290);
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 13px;
  padding-top: 6px;
}

.post-container a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.post-card {
  width: 100%;
  margin-bottom: 6px;
}

.card-title {
  font-size: 14px;
}

.chat-container{
  width: 334px;
  border-radius: 13px;
  border: 1px solid var(--color3, #314290);
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.message {
  font-size: 14px;
}